@font-face {
    font-family: "Fixel Display";
    src: url("../fonts/FixelDisplay-Medium.woff2") format('woff2'),
        url("../fonts/FixelDisplay-Medium.woff") format('woff'),
        url("../fonts/FixelDisplay-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fixel Display";
    src: url("../fonts/FixelDisplay-Bold.woff2") format('woff2'),
        url("../fonts/FixelDisplay-Bold.woff") format('woff'),
        url("../fonts/FixelDisplay-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fixel Display";
    src: url("../fonts/FixelDisplay-Regular.woff2") format('woff2'),
        url("../fonts/FixelDisplay-Regular.woff") format('woff'),
        url("../fonts/FixelDisplay-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Fixel Display";
}

.header {
    margin: 0 auto;
}

.main {
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;

}

ul,
ol {
    list-style: none;
}

li,
ol,
ul,
div,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.disp-flex {
    display: flex;
    align-items: center;
}

.disp-grid {
    display: grid;
}

.light-line {
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px 0 0;
    align-items: center;
}

.search {
    color: #9F9F9F;
}

.header-aling {
    justify-content: space-between;
}

.list-header {
    gap: 60px;
}

.list-header li a,
.icons li a {
    color: #171717;
}

.icons {
    gap: 25px;
}

.dark-line-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #2D2D2D;
    padding: 20px 0;
    margin: 0 auto;
}

.dark-line-list a {
    color: #FFFFFF;
    text-align: center;
}

.main-head {
    display: flex;
    gap: 3px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 72px;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 0;
}

.img-bl {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-block h2 {
    text-transform: uppercase;
    font-size: 42px;
}

.macbook-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.macbook-block h2 {
    margin: 0;
}

.dark-btn {
    color: var(--text-color, #171717);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 74px;
    border-radius: 5px;
    border: 1px solid var(--text-color, #171717);
}

.text-block {
    font-size: 18px;
}

.part-of-head {
    font-weight: 200;
}


.text-info {
    color: FFF;
    align-items: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
}

.button a {
    padding: 23px 62px;
    border-radius: 5px;
    border: 1px solid #FFF;
    max-width: 270px;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}

.button {
    margin-top: 50px;
}

.info {
    align-items: center;
    text-align: center;
}

.info p,
.info h1,
.info a {
    color: #FFF;
}

.iphones-block {
    margin: 0 auto;
    min-height: 930px;
    padding: 0;
    background: var(--text-color, #171717);
}

.section {
    align-items: center;
}

.main-block {
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.macbook-block {
    background: var(--ligh-gray, #F1F1F1);
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    align-items: start;
    justify-content: center;
}

.plastation-five {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #FFF;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.ps-text {
    max-width: 493px;
    padding: 0 77px 0 0;
}

.for-text {
    padding: 0 0 0 67px;
    max-width: 419px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mcb-img {
    right: 0;
}

.img-pl {
    left: 0;
}

.img-ap {
    left: 0;
}

.img-a-v{
    left: 0;
    bottom: 92px;
}

.text-apl-vision{
    max-width: 348px;
}

.apple-airpods-block {
    grid-column: 1/2;
    background: #F1F1F1;
}

.text-airpods {
    max-width: 348px;
}

.for-align {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.apl-vision-block {
    background: #CACACA;
    grid-column: 2/3;
    align-items: center;
}


.styles-for-head {
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding-bottom: 40px;
    padding: 100px 0 40px 0;
}

.buttons-list {
    padding: 0;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.btn-grey {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F1F1F1;
    color: #171717;
    min-height: 110px;
    display: block;
    align-items: center;
    border-radius: 5px;
    max-width: 270px;
    display: grid;
    text-align: center;
    align-items: center;
}

.buttons-disp-block {
    display: block;
}

.ul-category-list {
    display: flex;
    max-width: 617px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.items_list-category {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items_list-category-dark {
    color: #171717;
    text-decoration: underline;
}

.items_list-category-light {
    color: #9F9F9F;
}

.figures_main-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 37px 0 0 0;
}

.figures_main-page-second {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 100px;
}

.figure {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.column-space-beetwen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 0 0 38px;
    height: 100%;
}

.img-figure {
    padding: 27px 0 0 0;
    margin: 0;
}

.price-and-button {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-and-button p,
.text-and-button h3,
.text-and-button a {
    margin: 0;
}

.heads-figure {
    font-size: 24px;
    font-weight: 500;
}

.price-bl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.discount {
    color: var(--gray-middle, #9F9F9F);
    text-decoration: line-through;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.price-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_figures {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #171717;
    padding: 11px 80px;
    border-radius: 5px;
    border: 1px solid var(--text-color, #171717);
    text-align: center;
    display: block;
}

.winter-sale {
    text-transform: uppercase;
    font-size: 72px;
    color: #FFF;
    margin: 0;
}

.span-winter-sale {
    font-weight: 200;
}

.winter-sale-section {
    background: radial-gradient(109.45% 50% at 50% 50%, #000 0%, #282828 100%);
}

.head-winter-sale {
    align-items: center;
    display: flex;
    text-align: center;
}

.winter-sale-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.aling-winter-sale {
    min-height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-winter-sale {
    margin: 0;
}


.aling-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.margin-none {
    margin: 0;
}

.aling-items-foot {
    display: flex;
    align-items: center;
}

.text-left {
    text-align: left;
}

.empty {
    min-height: 96px;
}

.footer {
    background-color: #171717;
    color: #FFFFFF;
}

.text-footer {
    max-width: 528px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head-footer {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.list-footer li {
    font-size: 18px;
    font-weight: 400;
}

.first-list-footer {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 174px;
}

.second-list-footer {
    max-width: 319px;
    min-height: 174px;
}

.images-footer {
    gap: 30px;
    padding: 0;
    margin: 0;
}

.link a {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #FFFFFF;
}

.text-bottom-foot {
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.text-bottom-foot-bl {
    width: 100%;
    padding-bottom: 39px;
}

.justify-center {
    justify-content: space-between;
}

.item-foot {
    color: var(--gray-middle, #9F9F9F);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.for-padding {
    padding: 40px 0 0 0;
}

.active-page {
    font-family: "Fixel Display";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding: 20px 0 32px;
}

.active-page-div {
    gap: 16px;
    display: inline-flex;
}

.active-page .grey-sp {
    color: #9F9F9F;
    font-weight: 400;
}

.active-page .dark-sp {
    font-family: "Fixel Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img_about-us {
    max-width: 870px;
}